<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vk.vezdecode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".FundsActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".FundTypeChooseActivity"
            android:parentActivityName=".FundsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FundsActivity" />
        </activity>

        <activity
            android:name=".FundInfoEditActivity"
            android:parentActivityName=".FundTypeChooseActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FundTypeChooseActivity" />
        </activity>

        <activity
            android:name=".AdditionalActivity"
            android:parentActivityName=".FundInfoEditActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FundInfoEditActivity" />
        </activity>

        <activity
            android:name=".PrePostActivity"
            android:parentActivityName=".AdditionalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdditionalActivity" />
        </activity>

        <activity
            android:name=".FundFeedActivity"
            android:parentActivityName=".PrePostActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrePostActivity" />
        </activity>

        <activity
            android:name=".FundPostActivity"
            android:parentActivityName=".FundFeedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FundFeedActivity" />
        </activity>
    </application>

</manifest>